# Biodiversity in US National Parks

### Importing important scripts for analysis

In [89]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns

### Load datasets into environment

In [90]:
species_info = pd.read_csv('species_info.csv')
observations = pd.read_csv('observations.csv')

### Inspect datasets

##### First we check the first five columns of each dataset

In [91]:
#Inspecting the first five columns of species_info dataset
species_info.head()

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN

In [92]:
#Inspecting the first five columns of observations dataset
observations.head()

            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85

##### Inspecting for duplicates and missing data from both datasets about datasets

In [93]:
#From checking the info of the observation dataset, we can se that there are no missing values
observations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23296 entries, 0 to 23295
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   scientific_name  23296 non-null  object
 1   park_name        23296 non-null  object
 2   observations     23296 non-null  int64
dtypes: int64(1), object(2)
memory usage: 546.1+ KB

In [94]:
#From checking the info of the species_info dataset, we can se that there are only 191 conservation status with the rest missing values
species_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5824 entries, 0 to 5823
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   category             5824 non-null   object
 1   scientific_name      5824 non-null   object
 2   common_names         5824 non-null   object
 3   conservation_status  191 non-null    object
dtypes: object(4)
memory usage: 182.1+ KB

In [95]:
observations.duplicated('scientific_name')

0        False
1        False
2        False
3        False
4        False
         ...
23291     True
23292     True
23293     True
23294     True
23295     True
Length: 23296, dtype: bool

In [116]:
observations = observations.drop_duplicates().groupby(['scientific_name', 'park_name'])['observations'].sum().reset_index()
observations.duplicated('scientific_name')

0       False
1       False
2       False
3       False
4       False
        ...
5536    False
5537    False
5538    False
5539    False
5540    False
Length: 5541, dtype: bool

In [119]:
species_info.duplicated(['scientific_name', 'conservation_status'])

0       False
1       False
2       False
3       False
4       False
        ...
5819    False
5820    False
5821    False
5822    False
5823    False
Length: 5541, dtype: bool

In [120]:
species_info = species_info.drop_duplicates('scientific_name')
species_info.duplicated('scientific_name')

0       False
1       False
2       False
3       False
4       False
        ...
5819    False
5820    False
5821    False
5822    False
5823    False
Length: 5541, dtype: bool

### Merge Datasets
Both datasets have 'scientific_name' column in common, so we can merge them properly to have a bigger dataset

In [122]:
species_df = pd.merge(species_info, observations, on = 'scientific_name')
species_df.head()

,category,scientific_name,common_names,conservation_status,park_name,observations
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN,Bryce National Park,130
1,Mammal,Bos bison,"American Bison, Bison",NaN,Yosemite National Park,128
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN,Bryce National Park,99
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN,Yosemite National Park,126
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN,Yellowstone National Park,225

In [104]:
species_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5541 entries, 0 to 5540
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   category             5541 non-null   object
 1   scientific_name      5541 non-null   object
 2   common_names         5541 non-null   object
 3   conservation_status  178 non-null    object
 4   park_name            5541 non-null   object
 5   observations         5541 non-null   int64
dtypes: int64(1), object(5)
memory usage: 259.9+ KB

In [112]:
species_df = species_df['observations'].groupby(['scientific_name', 'park_name']).sum().reset_index()
species_df.head()

AttributeError: 'SeriesGroupBy' object has no attribute 'groupby'